{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="home">
    <div class="home-content">
        <h3>Hi</h3>
        <h1>I'm <span>Bechir Ben Othman</span> a Junior Software Engineer</h1>
        <p>I am a recent Software Engineering graduate from the National School of Computer Science (ENSI), with a strong
            focus on web development and DevOps. I have a deep understanding of full-stack development and the
            principles of modern software engineering, including agile methodologies and automation practices. I am highly
            motivated to contribute to dynamic teams and work on innovative projects that challenge me to grow both
            technically and professionally.</p>
        <div class="btn-box">
            <button class="btn">Education</button>
            <button class="btn-1">Experience</button>
        </div>
    </div>
    <div class="img-box">
        <img src="../static/images/profile-removebg-preview.png" alt="">
    </div>
</div>
{% endblock %}